blockquote {
  font-style: italic;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 5px solid #6a604c;
}

.article-content {
  margin-top: 2em;
}

@media screen and (max-width: 600px) {
  .article-content p {
    font-size: 1.5rem;
  }
  .article-content h2 {
    font-size: 1.7rem;
  }
}
