footer {
  background: #292f3c;
  color: #eceef7;
  margin: 0;
  width: 50%;
  padding: 1em;
}

.footer-content > a {
  padding: 0.5em 0;
  position: relative;
  text-align: center;
}

.footer-content a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.025rem;
  height: 1px;
  width: 3rem;
  background-color: #eceef7;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform ease-in-out 250ms;
}

.footer-content a:hover::after {
  transform: scaleX(1);
}
