footer {
  background: #292f3c;
  height: 15rem;
  position: absolute;
  bottom: 0;
  color: #eceef7;
  width: fit-content;
}

.footer-content > a {
  padding: 0.5em 0;
  position: relative;
}

.footer-content a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.025rem;
  height: 1px;
  width: 3rem;
  background-color: #eceef7;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform ease-in-out 250ms;
}

.footer-content a:hover::after {
  /* background-color: black; */
  transform: scaleX(1);
}
